<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PawSitter | Update Password</title>
    <link rel="stylesheet" th:href="@{/css/mainStyle.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
</head>

<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<main class="page-content">
    <section class="form-container">
        <h1>Set a new password</h1>

        <form th:action="@{/recovery/updatePassword}"
              th:object="${passwordUpdateRequest}"
              method="post">

            <!-- Global validation errors -->
            <div th:if="${#fields.hasErrors('*')}" class="form-error">
                <ul>
                    <li th:each="err : ${#fields.errors('*')}"
                        th:text="${err}"></li>
                </ul>
            </div>

            <input type="hidden" name="recoveryToken" th:value="${recoveryToken}"/>

            <label for="newPassword">New password</label>
            <input th:field="*{newPassword}" id="newPassword" type="password"/>

            <p th:if="${#fields.hasErrors('newPassword')}"
               class="form-error"
               th:errors="*{newPassword}"></p>

            <label for="confirmNewPassword">Confirm password</label>
            <input th:field="*{confirmNewPassword}" id="confirmNewPassword" type="password"/>

            <p th:if="${#fields.hasErrors('confirmNewPassword')}"
               class="form-error"
               th:errors="*{confirmNewPassword}"></p>

            <button type="submit" class="button primary-button">Confirm</button>
        </form>


        <p>
            Back to login?
            <a th:href="@{/login}">Log in</a>
        </p>
    </section>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>